body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */

    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 60px 90px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    font-size: 50px;
}

input,
select,
button {
    font-size: 22px;
    padding: 12px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

button {
    cursor: pointer;
}

#resultado {
    font-size: 28px;
    font-weight: bold;
}